@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans:wght@700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  color: #3F51B5;
  background: linear-gradient(135deg, #3F51B5, #90CAF9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-app {
  position: relative;
  bottom: 100px;
  width: 100%;
  max-width: 600px;
  background: #f5f5f5;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.todo-app .title-row{
  color: #3F51B5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.todo-app .title-row img{
  width: 30px;
  height: 25px;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 > img {
  margin-left: 8px;
  

}

.info-icon{
  cursor: pointer;
  margin-right: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info-icon:hover {
  opacity: 0.8; 
  transform: scale(1.1); 
}


.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #3F51B5;
  color: #f5f5f5;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./assets/icons/unchecked.svg);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
  
}

ul li.checked{
  color: #90CAF9;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(./assets/icons/checked.svg);
}


/* MODAL */

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #3F51B5;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #f5f5f5;
  padding: 50px;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.close {
  color: red;
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.close:hover{
  opacity: 0.8; 
  transform: scale(1.2); 
}

h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-rules{

  display: flex;
  flex-direction: column;
  justify-content:space-between;
 

}




